<div class="ui attached stackable menu">
  <div class="ui container">
    <a class="item" href="/"></i>Home</a>
    <a class="item" href="/racerx"></i>Racerx</a>
    <a class="item" href="/xreport"></i>x22 Report</a>

    <div class="right item">
      <a class="item" href="https://kylecaprio.dev" target="_blank" rel="noreferrer noopener"></i>Portfolio</a>
      <div class="ui simple dropdown item">
        More
        <div class="menu">
          <a class="item"><i class="edit"></i>Edit Profile</a>
          <a class="item"><i class="globe"></i>Choose Language</a>
          <a class="item"><i class="settings"></i>Account Settings</a>
        </div>
      </div>
    </div>
  </div>
</div>
