<div class="ui fixed inverted menu">
  <div class="ui container">
    <a href="/" class="header item">
      <img class="logo" src="../../assets/icons/k.png" />
      <span style="margin-left: 10px">api</span>
    </a>
    <a href="/" class="item">Home</a>
    <div class="ui simple dropdown item">
      Explore <i class="dropdown icon"></i>
      <div class="menu">
        <a class="item" href="/racerx">Racer X</a>
        <a class="item" href="/xreport">X22 Report</a>
        <div class="divider"></div>
        <a class="item" href="https://kylecaprio.dev" target="_blank" rel="noreferrer noopener">Portfolio</a>
      </div>
    </div>
  </div>
</div>
